<div class="comments">
    {{#each this}}
    <article class="comment">
        <div class="comment-text">
            <p>{{comment_text}}</p>
        </div>
        <div class="details">
            <p>Created by {{user.username}} on {{format_date created_at}}</p>
        </div>
    </article>
    {{/each}}
</div>