<section class="dashboard">
    <p>Have something to say about tech? <a href="/dashboard/create-post">Click here!</a></p>
</section>
{{#if posts.length}}
<section class="dashboard">
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            <div onclick="location.href='dashboard/edit/{{id}}'">
            {{> post-info post}}
            </div>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}